// @import '@styles/_theme.scss';

.section-title {
  text-align: center;
  position: relative;
  // padding-top: 10px;
  padding: 10px 10px;

  h1 {
    margin-top: 0;
    // opacity: 0;

    font-size: 32px;
    font-weight: 300;
    line-height: 48px;
  }

  h3 {
    font-size: 11px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.af-border {
  background: #ffba00;
  position: relative;
  bottom: 0;
  left: 50%;
  margin-left: -2em;
  width: 4em;
  height: 0.3em;
  margin-top: -10px;
  margin-bottom: 60px;
  transition: width 0.3s ease;
  // opacity: 0;
}