$primary-blue: #5badf0;
$alternate-blue: #3f86ed;
$primary-cyan: #79c6c0;
$primary-yellow: #ffba00;
$primary-pink: #d23669;
$primary-grey: #607d8b;
$border-grey: #eee;
$bg-white: #f4f4f4;
$headerColor: #000200;
$footerColor: #EBEBEB;

$text-black: #2B2B2B;
$text-grey: #aaa;
$text-white: #FFFFFF;

$colorPrimary: $primary-yellow;
$colorAlternate: $primary-cyan;
$colorBG: $bg-white;
$textPrimary: $text-black;
$textAlternate: $text-grey;
$borderGrey: $border-grey;

// variables
$headerHeight: 4.5rem;
$footerHeight: 3rem;
