@font-face {
	font-family: 'Neue Haas Grotesk Display';
	font-style: normal;
	font-weight: normal;
	src: url('./fonts/NeueHaasDisplayRoman.woff') format('woff');
}

@font-face {
	font-family: 'Neue Haas Grotesk Display';
	font-style: normal;
	font-weight: bold;
	src: url('./fonts/NeueHaasDisplayBold.woff') format('woff');
}
