@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Neue Haas Grotesk Display';
	font-style: normal;
	font-weight: normal;
	src: url('./fonts/NeueHaasDisplayRoman.woff') format('woff');
}

@font-face {
	font-family: 'Neue Haas Grotesk Display';
	font-style: normal;
	font-weight: bold;
	src: url('./fonts/NeueHaasDisplayBold.woff') format('woff');
}

@layer base {
	body {
		@apply bg-darkslate-700 md:h-screen flex flex-col justify-center items-center;
	}
}

body {
	margin: 0;
	font-family: 'Neue Haas Grotesk Display', sans-serif;
	-webkit-font-smoothing: antialiased;
	/* cursor: none; */
}

/* CURSOR */
.cursor {
	position: fixed;
	border-radius: 100%;
	transform: translate(-50%, -50%);
	transition: all 0.1s ease-in-out;
	transition-property: width, height, border;
	will-change: width, height, transform, border;
	pointer-events: none;
	z-index: 999;
}

.cursor-outer {
	background: none;
	width: 32px;
	height: 32px;
	border: solid 2px #eab308;
	transition: all 0.2s ease, top 0s ease-out, left 0s ease-out;
}

.cursor-inner {
	width: 8px;
	height: 8px;
	background: #fff;
	mix-blend-mode: difference;
}

.cursor-inner.plus::before,
.cursor-inner.plus::after,
.cursor-inner.minus::before {
	content: '';
	position: absolute;
	left: 0;
	top: -11px;
	height: 22px;
	width: 3px;
	background: #fff;
}

.cursor-inner.plus::before {
	transform: rotate(0deg);
	mix-blend-mode: hard-light;
}

.cursor-inner.plus::after,
.cursor-inner.minus::before {
	transform: rotate(90deg);
	mix-blend-mode: difference;
}
