@import '@styles/_theme.scss';

.contact-form {
  width: 40vw;
  margin: 0 auto;
  // padding: 17px;

  .field-error {
    border-radius: 2px;
    background: #cc3b3b;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    line-height: 23px;
    margin: 12px 0;
    padding: 5px 15px 3px 25px;

    svg {
      position: absolute;
      margin-left: -18px;
      margin-top: 4px;
    }
  }

  .field-success {
    display: block;
    border-radius: 2px;
    background: #3bcc73;
    color: #fff;
    font-size: 13px;
    line-height: 23px;
    margin: 12px 0;
    padding: 5px 15px 3px 15px;
  }

  label {
    display: block;
    font-size: 18px;
    // color: #5c5c5c;
    text-align: left;
  }

  .field-element {
    text-align: left;
    display: block;
    width: 100%;
    padding: 12px;
    margin: 6px 0 4px;
    border: 1px solid #ccc;
    background: #fafafa;
    color: #000;
    font-family: sans-serif;
    font-size: 14px;
    line-height: normal;
    box-sizing: border-box;
    border-radius: 2px;
    margin-bottom: 24px;
  }

  .field-element:focus {
    background: #fff;
  }

  textarea {
    height: 158px;
    margin-top: 6px;
    margin-bottom: 4px;
  }

  .form-button-wrapper {
    text-align: center;

    .submit-button {
      border-radius: 3px;
      border: 2px solid;
      border-style: solid;
      background-color: transparent;
      // color: #000;
      // width: 130px;
      padding: 12px 37px;
      cursor: pointer;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      transition: 0.1s background-color linear, 0.1s color linear;
    }

    // .submit-button:hover {
    //   // background-color: #000;
    //   color: #fff;
    // }

    .submit-button:focus {
      outline: 0;
    }
  }
}