@import '@styles/_theme.scss';
@import '@styles/_breakpoints.scss';

.header-content {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: calc(94.5vh - 76.5px);
  user-select: none;

  .imageContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -100;
    overflow: hidden;
  }

  .title, h1 {
    // margin: 0;
    text-align: center;
    // font-size: 72px;
    font-size: 5.5vw;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
    // padding-top: 30vh;
    clear: both;

    span {
      display: inline-block;
    }
  }
  
  .kicker {
    text-align: center;
    // font-size: 72px;
    font-size: 1.7vw;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 1;
    padding-top: 10px;
    // margin-bottom: 20px;
    // padding-top: 30vh;
    // clear: both;
  }

  .down-arrow {
    position: absolute;
      bottom: 20px;
      left: 50%;
      margin-left: -26px;
      background: transparent;
      border: none;
  }
  
  .down-arrow:focus {
    outline:0;
  }
}

// .container {
//   padding: 2rem 0;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;

//   > h1 {
//     color: $colorPrimary;
//   }
// }

#process .row {
	width: 85vw;
	margin: 0 auto;
	display: flex;
  align-items: flex-start;
  
  .column {
    width: 33.333%;
    padding: 0 25px;
    float: left;
    box-sizing: border-box;
    text-align: center;
    // opacity: 0;
  }
  
  img {
    height: 50px;
  }

  h5 {
    // font-family: 'Raleway'
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -0.5px;
    margin-bottom: 15px;
  }

  p {
    font-size: 15px;
    line-height: 28px;
  }
}


@media screen and (max-width: 1170px) {
  .header-content {
    h1 {
      font-size: 9.5vw;
      margin-bottom: 14px;
    }

    .kicker, h3 {
      font-size: 3.7vw;
    }
  }

  // #process .row  {
  //   flex-direction: column;
  // }  

  // .column {
  //   width: 100%;
  // }
}

@media only screen and (max-width: 760px) {
  #process .row  {
    flex-direction: column;

    .column {
      width: 100%;
    }
  }  

 
}
	
